<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="1.4.0" targetFramework="net462" />
  <package id="FuzzySharp" version="2.0.2" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.12.4" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net462" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net462" />
  <package id="PlayniteSDK" version="6.14.0" targetFramework="net462" />
  <package id="StartPage.SDK" version="1.0.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net462" />
  <package id="System.IO.Abstractions" version="22.1.0" targetFramework="net462" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.6.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="10.0.1" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net462" />
  <package id="TestableIO.System.IO.Abstractions" version="22.1.0" targetFramework="net462" />
  <package id="TestableIO.System.IO.Abstractions.Wrappers" version="22.1.0" targetFramework="net462" />
  <package id="Testably.Abstractions.FileSystem.Interface" version="10.0.0" targetFramework="net462" />
  <package id="YamlDotNet" version="16.3.0" targetFramework="net462" />
</packages>